<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
  <img src="https://i.pinimg.com/564x/bd/da/fc/bddafc029d86df72bef91bba70973c71.jpg" alt="Laptop" width="473" height="316">
  <p>Photo on Pintrest</p>
  
  <div class="pt-3">
    <p>This is a simple user management system development.</p>
    <p>Welcome to my About!</p>
  </div>